@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .hero {
    min-width: 768px;
  }
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    text-transform: none;
  }
  .features-list {
    gap: 72px 24px;
  }
  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .features-subtitle {
    text-align: left;
  }
  .team-list {
    gap: 64px 24px;
  }
  .team-item {
    flex-basis: 264px;
  }
  .customers-list {
    gap: 72px 24px;
  }
  .customers-item {
    flex-basis: 168px;
  }
  .footer-container {
    gap: 72px 24px;
    justify-content: flex-start;
  }
  .footer-logo {
    text-align: left;
  }
  .footer-text {
    max-width: 264px;
    margin-left: 93px;
  }
  .footer-subtitle {
    text-align: left;
  }
  .footer-subscribe {
    margin-left: 93px;
  }
  .footer-form {
    flex-wrap: nowrap;
    gap: 24px;
    align-items: center;
  }
  .mail-input {
    width: 264px;
    margin-bottom: 0;
  }
  /* ======= PORTFOLIO ======= */
  .portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .filter-list {
    flex-wrap: nowrap;
    max-width: 100%;
    gap: 24px;
    justify-content: center;
    margin-bottom: 64px;
  }
  .filter-btn {
    padding: 12px 24px;
  }
  .portfolio-list {
    gap: 72px 24px;
  }
  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-title {
    margin-bottom: 48px;
  }
  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .features-list {
    gap: 24px;
  }
  .features-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .features-thumb {
    display: flex;
  }
  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .features-article {
    font-weight: 400;
  }
  .activity {
    display: block;
  }
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    gap: 24px;
  }
  .team-item {
    flex-basis: calc((100% - 72) / 4);
  }
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    gap: 24px;
  }
  .customers-item {
    flex-basis: calc((100% - 120px) / 6);
  }
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
    justify-content: flex-start;
  }
  .footer-text {
    margin-left: 0;
    margin-right: 120px;
  }
  .footer-article {
    margin-top: 16px;
  }
  .footer-subscribe {
    margin-left: auto;
  }
  /* ======= PORTFOLIO ======= */
  .portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .filter-list {
    margin-bottom: 72px;
  }
  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}
